<?xml version="1.0" ?>
<robot name="scuttle" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find scuttle_bumper)/urdf/bumper.gazebo" />

    <link name="front_bumper_plate_left_link">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx="0.038876" ixy="1.3e-05" ixz="1e-06" iyy="0.047513" iyz="0.000486" izz="0.084083"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0.10539999389648432 0 0.084749938964843793"/>
            <geometry>
            <mesh filename="package://scuttle_bumper/meshes/scuttle_bumper_plate_left.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="silver"/>
        </visual>
        <collision name="front_bumper_plate_left_link">
            <origin rpy="0 0 0" xyz="0.10539999389648432 0 0.084749938964843793"/>
            <geometry>
            <mesh filename="package://scuttle_bumper/meshes/scuttle_bumper_plate_left.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="front_bumper_plate_right_link">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx="0.038876" ixy="1.3e-05" ixz="1e-06" iyy="0.047513" iyz="0.000486" izz="0.084083"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0.10539999389648432 0 0.084749938964843793"/>
            <geometry>
            <mesh filename="package://scuttle_bumper/meshes/scuttle_bumper_plate_right.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="silver"/>
        </visual>
        <collision name="front_bumper_plate_right_link">
            <origin rpy="0 0 0" xyz="0.10539999389648432 0 0.084749938964843793"/>
            <geometry>
            <mesh filename="package://scuttle_bumper/meshes/scuttle_bumper_plate_right.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="front_bumper_bracket_left_link">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx="0.038876" ixy="1.3e-05" ixz="1e-06" iyy="0.047513" iyz="0.000486" izz="0.084083"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0.10539999389648432 0 0.084749938964843793"/>
            <geometry>
            <mesh filename="package://scuttle_bumper/meshes/scuttle_bumper_bracket_left.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="silver"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0.10539999389648432 0 0.084749938964843793"/>
            <geometry>
            <mesh filename="package://scuttle_bumper/meshes/scuttle_bumper_bracket_left_collision.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="front_bumper_bracket_right_link">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx="0.038876" ixy="1.3e-05" ixz="1e-06" iyy="0.047513" iyz="0.000486" izz="0.084083"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0.10539999389648432 0 0.084749938964843793"/>
            <geometry>
            <mesh filename="package://scuttle_bumper/meshes/scuttle_bumper_bracket_right.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="silver"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0.10539999389648432 0 0.084749938964843793"/>
            <geometry>
            <mesh filename="package://scuttle_bumper/meshes/scuttle_bumper_bracket_right_collision.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <joint name="front_bumper_bracket_left_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="front_bumper_bracket_left_link"/>
    </joint>

    <joint name="front_bumper_bracket_right_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="front_bumper_bracket_right_link"/>
    </joint>

    <joint name="front_bumper_plate_left_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <parent link="front_bumper_bracket_left_link"/>
        <child link="front_bumper_plate_left_link"/>
    </joint>

    <joint name="front_bumper_plate_right_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <parent link="front_bumper_bracket_right_link"/>
        <child link="front_bumper_plate_right_link"/>
    </joint>
</robot>
