<launch>
    <!--
        Indicates if ROS is running on a physical SCUTTLE (value = true) or a virtual one
        (value = false), e.g. when running in Gazebo.
    -->
    <arg name="is_physical" default="true"/>

    <!--
        When we're in Gazebo ...
    -->
    <group unless="$(arg is_physical)">
        <!--
            Start the translation node that translates Gazebo contact sensor responses to
            scuttle bumper responses
        -->
        <!-- Left hand front bumper -->
        <node
            name="gazebo_translator_front_left"
            ns="scuttle/sensor/bumper"
            pkg="scuttle_bumper"
            respawn="true"
            type="gazebo_contact_sensor_translator.py"
        >
            <param name="bumper_id" value="1" />
            <param name="bumper_name" value="front-left" />
            <param name="gazebo_contact_debounce_time_in_seconds" value="0.3" />
            <!-- This value should match the value in the `bumper.gazebo` URDF file -->
            <param name="gazebo_contact_sample_frequency_in_hz" value="15" />

            <!-- Remap the subscription topic to point to the topic for the front left bumper -->
            <remap from="/scuttle/sensor/bumper/gazebo" to="front_left_gazebo" />
            <!-- Remap the publishing topic -->
            <remap from="/scuttle/sensor/bumper/states" to="states" />
        </node>

        <!-- Right hand front bumper -->
        <node
            name="gazebo_translator_front_right"
            ns="scuttle/sensor/bumper"
            pkg="scuttle_bumper"
            respawn="true"
            type="gazebo_contact_sensor_translator.py"
        >
            <param name="bumper_id" value="2" />
            <param name="bumper_name" value="front-right" />
            <param name="gazebo_contact_debounce_time_in_seconds" value="0.3" />
            <!-- This value should match the value in the `bumper.gazebo` URDF file -->
            <param name="gazebo_contact_sample_frequency_in_hz" value="15" />

            <remap from="/scuttle/sensor/bumper/gazebo" to="front_right_gazebo" />
            <!-- Remap the publishing topic -->
            <remap from="/scuttle/sensor/bumper/states" to="states" />
        </node>
    </group>

    <group if="$(arg is_physical)">
        <!--
            Start the bumper node that connects to the RPi GPIO pins to listen for

        -->
        <node name="scuttle_driver" pkg="scuttle_driver" type="scuttle_driver.py" output="screen"/>
    </group>
</launch>